<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
$(document).ready(function() {
	$('.slideControl').slideControl({
		speed: 600,
		lowerBound: 1,
		upperBound: 10,
	});


});
$(document).ready(function() {
	$('.cdi_slideControl').slideControl({
		speed: 600,
		lowerBound: 0.0,
		upperBound: 10.0,
	});


});
</script>
</body>
</html>
